# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
web-build/

# Expo
.expo/
expo-env.d.ts

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Native
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Optional: Ignore environment files specifically if they have other names
.env*
!.env.example
